$headerImage: url(../img/m-h-day.jpg);

$buttonColor: #4A9A00;
$textMarkColor: #00A1CA;
$blockColor: #1A1E2A;

$textColor: #262B3A;

$bodyBG: white;

$fonts: (
  1: 'Source Sans Pro',
  2: 'Hind',
  3: 'Fresca',
);