$headerImage: url(../img/m-h-night.jpg);

$buttonColor: #F5AD00;
$textMarkColor: #FF4C2E;
$blockColor: #363C4F;

$textColor: white;

$bodyBG: #1B1E2B;

$fonts: (
  1: 'Source Sans Pro',
  2: 'Hind',
  3: 'Fresca',
);