footer {
    width: 100%;
    height: 21vw;
    background: black;
    display: flex;
    justify-content: center;

    .footer-wrap {
        margin: auto;
        width: 65vw;
        display: flex;
        justify-content: center;
    
        h2 {
            color: white;
            text-transform: uppercase;
            margin-bottom: 1vw
        }

        p {
            font-size: 1.2vw;
            margin-top: 1vw;
            line-height: 1.7vw;
            word-spacing: 0.2vw;
        }

        .block1 {
            width: 50%;
            padding-right: 6vw;


        }

        
    }
}